@font-face {
  font-family: saveurSans;
  src: url(fonts/Saveur_sans.otf);
}

@font-face {
  font-family: jost;
  src: url(fonts/Jost.ttf);
}

@font-face {
  font-family: jost_light;
  src: url(fonts/Jost_light.ttf);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  margin: 0;
  font-family: Poppins;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background: transparent;
  padding: 0px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  z-index: 1000;
}

.navbar:hover,
.navbar.scrolled {
  background: white;
  color: black;
  border-bottom: 1px solid lightgray;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
 
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 0 12px;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar:hover ul li a,
.navbar.scrolled ul li a {
  color: black;
}

.navbar .brand {
  font-family: saveurSans;
  font-size: 1.8em;
  color: white;
  
  text-decoration: none;
  transition: color 0.3s;
}

.navbar:hover .brand,
.navbar.scrolled .brand {
  color: black;
}

.navbar i.fa-bars,
.navbar i.fa-magnifying-glass {
  color: white;
  font-size: inherit;
  transition: color 0.3s;
}

.navbar:hover i.fa-bars,
.navbar:hover i.fa-magnifying-glass,
.navbar.scrolled i.fa-bars,
.navbar.scrolled i.fa-magnifying-glass {
  color: black;
}

section {
  margin: 0;
  color: white;
  font-size: 24px;
  text-align: center;
  scroll-snap-align: start;
  overflow: hidden;
}

.space{
  margin-top: 80px;
}
.container{
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform .5s;
}
svg{
  width: 30px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-cart{
  position: relative;
}
.icon-cart span{
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}
.title{
  font-size: xx-large;
}
.listProduct .item img{
  width: 100%;
  /* filter: drop-shadow(0 50px 20px #0009); */
}
.listProduct{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.listProduct .item{
  background-color: #cacfcf;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .item h2{
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price{
  letter-spacing: 7px;
  font-size: small;
}
.listProduct .item button{
  background-color: #353432;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}

/* cart */
.cartTab{
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
}
body.showCart .cartTab{
  right: 0;
}
body.showCart .container{
  transform: translateX(-250px);
}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
  background-color: #E8BC0E;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close{
  background-color: #eee;
}
.listCart .item img{
  width: 100%;
}
.listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even){
  background-color: #eee1;
}
.listCart{
  overflow: auto;
}
.listCart::-webkit-scrollbar{
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct{
      grid-template-columns: repeat(3, 1fr);
  }
}


/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct{
      grid-template-columns: repeat(2, 1fr);
  }
}